body {
                background: red;
                display: grid;
                place-items: center;
                width: 90vw;
                /* height: 60vw;
                padding: 10px; */
                min-height: 100vh;
            }

            h1 {
                font-size: 4rem;
                margin-bottom: 1em;
            }

            .hamburger {
                /* display: grid; */
                width: 50vw;
                /* height: 50vw; */
                /* margin: auto; */
                /* align-self: center; */
                /* align-content: center; */
                /* overflow: hidden;
                margin-bottom: 10px; */
            }

            .ingredients {
                /* display: inline-block;
                margin: auto;
                justify-content: center;
                margin-top: 10px;
                padding: auto; */
                margin-top: 1em;
                font-size:2.5rem;
            }

            .seed_burger {
                opacity: 60%;
            }

            #choose {
                margin-top: 10px;
            }


            .hamburger:hover {
                animation-name: bounce; 
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
            }

            /* .animation_active {
                animation-name: bounce; 
                animation-duration: 1s;
                animation-iteration-count: 1;} */

            @keyframes bounce {
                
                30% {
                    transform: translateY(-20px);
                }    
            }

            #seeds_button, #lettuce_button, #cheese_button, #ketchup_button {
                margin: 10px;
                padding: 10px;
            }